.container1 {
  background-color: #ffffff;
  padding-left: 1% !important;
  padding-right: 1% !important;
}
.container2 {
  background-color: #eef7f0;
}
.mainHeader{
  padding-top: 1%;
  padding-left: 7%;
  color: #338cbd;
}
.innerTopPadding{
  padding-top: 10%;
}
.listItem{
  border: none !important;
  padding-left: 0% !important;
}
.filterListItem{
  border: none !important;
  padding-left: 5% !important;
}
.iconStyle{
  padding-right: 3%;
  padding-left: 3%;
}
